
.button {
    -fx-background-radius: 20px;
    -fx-blend-mode: multiply;
    -fx-text-fill: black;
    /*
    -fx-font-family: Impact,Impact,sans-serif;
    -fx-font-size: 18;
    
     */

}
#bg {
    -fx-background-image: url("../images/backgroundBlurred.png");
    -fx-background-position: center center;
    -fx-background-size: 800 500;

}
#gameBG {
    -fx-background-image: url("../images/background.png");
    -fx-background-position: center center;
    -fx-background-size: 800 500;
}

