
#bg {
    -fx-background-image: url("../images/backgroundBlurred.png");
    -fx-background-position: center center;
    -fx-background-size: 800 500;

}
#gameBG {
    -fx-background-image: url("../images/background.png");
    -fx-background-position: center center;
    -fx-background-size: 800 500;

}
/*
.pane {
    -fx-background-color: black;
    -fx-opacity: 0.05;

}
*/
.button {
    -fx-background-radius: 20px;
}
/*
.iv {
    -fx-background-image: url("/images/icon.png");
    -fx-background-position: center center;
}
 */
